<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	
	<link rel="stylesheet" href="./style.css">
    <style>     
svg text {
	fill: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-anchor: start;
}
.g-child text {
	font-size: 11px; 
}
.root-link{
	font-weight: 700;
	cursor:pointer;
}	
.links{
}
.panel{
	margin-bottom: 0 !important;
}
.panel-body{
	padding : 0!important;
}
.link-list{
	margin-bottom: 28px;
}
    </style>
  
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="https:	//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="scrape.js"></script>
  </head>

  <body ng-app="myApp"  class="container">
  <header class="panel-success"><p class="panel-heading">Pictor - Graphical Web Crawler</p>
  </header>
  
    <div ng-controller="myCtrl">
	<form class="form-horizontal">
	<div class="input-group">
      <input ng-model="url" class="form-control"/>
	 </div> 
	 <div class="input-group">
	  <input type="hidden" placeholder="BFS or DFS" class="form-control"/>
	  </div>	 
	 <div class="input-group">
  	  <input type="number" ng-model="limit"  placeholder="Page Limit" class="form-control"/>
	  </div>	 	  
	 <div class="input-group">
	  <input ng-model="haltKeyword" placeholder="keyword" class="form-control"/>
	  </div>
	  <div class="btn-group" role="group">
		<button ng-click="kickoff()" type="button" class="btn btn-default">start</button><button ng-click="running = false" type="button" class="btn btn-default">stop</button>
	  </div>
	  </form>
      <p ng-show="running">SCRAPING IN PROGRESS</p>

      <div id="d3-bar-chart">
         <graph-directive ng-if="!running" data="urls" keyword="haltKeyword"></graph-directive>
         <svg class="chart" ng-hide="running"></svg> 
      </div>
    </div>
  </body>
</html>