<!DOCTYPE html>
<html>

  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="scrape.js"></script>
  </head>

  <bod  ng-app="myApp">
    <div ng-controller="myCtrl">
    <input ng-model="url"><button ng-click="kickoff()">start</button><button ng-click="running = false">stop</button><span ng-show="running">SCRAPING IN PROGRESS</span>
	<h4 ng-show="urls.length > 0">LINKS - Click to see child links</h4>
    <div ng-repeat="url in urls">
		<span style="font-weight: 700;cursor:pointer;" ng-click="url.show=!url.show">{{url.root}}</span>
		<span style="font-size: small;" ng-show="url.show">{{url.links}}</span>
	<div>
    </div>
  </body>

</html>
